  * {
    font-family: 'Open Sans', sans-serif;
  }

.beatName {
    margin-left: 10px;
    margin-top: 15px;
    color: black;
}
.tagStyle {
    margin-left: 20px;
    border: 0.01rem solid;
    padding: 0.1rem;
}
.genreHeader {
    margin-left: 20px;
    color: gray;
}
.genreStyle {
    margin-left: 20px;
    color: white;
    background-color: rgb(0, 98, 204);
}

.bpmHeader {
    margin-left: 20px;
    color: gray;
}

.beatCover {
    object-fit: cover;
    border-radius: 5%;
}

.imageCrop {
    max-width: 100px;
}

@media screen and (max-width: 1024px) {
    .textMoneyStyle {
        font-size: 35px;
    }
    .addToCartCartCart {
        width: 40px;
        height: 40px;
        margin-top: 4px;
    }
    .beatNameWhite {
        margin-left: 12px;
        margin-top: 35px;
    }
    .beatCoverPhone {
        object-fit: cover;
        border-radius: 5%;
    }
    .beatNamePhone {
        color: white;
        font-size: 90px;
        margin-left: 12px;
    }
    .genreHeaderPhone {
        font-size: 50px;
        color: white;
        margin-left: 16px;
    }
    .genreStylePhone {
        font-size: 30px;
        color: white;
        background-color: rgb(0, 98, 204);
        margin-left: 20px;
    }
    .bpmHeaderPhone {
        color: white;
        font-size: 40px;
        margin-left: 16px;
    }
    .bpmPhone {
        font-size: 40px;
        margin-left: 5px;
    }
    .beatContainer {
    margin-top: 10px;
    width: 900px;
    margin-right: auto;
    margin-left: auto;
}
    .beatCover {
    object-fit: cover;
    border-radius: 5%;
}
    .buttonCartBeat {
    height: 80px;
    width: 170px;
    margin-left: 10px;
    margin-top: 35px;
    background: #ff9500;
}
    .beatName {
    margin-left: 15px;
    margin-top: 35px;
    color: black;
}
    .tagStyles {
        padding: 0.1rem;
        margin-top: 50px;
}
    .tagActualStyle {
    font-size: 30px;
}
    .beatContainer {
        margin-top: 10px;
        margin-right: auto;
        margin-left: auto;
}
}
@media screen and (min-width: 1024px) {
    .bpmStyle {
        margin-top: 14px;
        margin-left: 90px;
    }
    .addToCartCartCart {
        width: 25px;
        height: 25px;
        margin-top: 1.8px;
    }
    .beatNameWhite {
        margin-left: 12px;
        margin-top: 12px;
        text-decoration: none;
    }
    .beatContainer {
    margin-top: 10px;
    width: 1024px;
    margin-right: auto;
    margin-left: auto;
}
    .buttonCartBeat {
    background: #ff9500;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
    margin-left: 20px;
}
    .beatName {
    margin-top: 6px;
    margin-bottom: 5px;
    color: black;
    font-size: x-large;
}
    .tagStyle {
    border: 0.01rem solid;
    padding: 0.1rem;
}
    .tagActualStyle {
    font-size: 1.2rem;
    margin-top: 14px;
    margin-right: 7px;
}
} 