  * {
    font-family: 'Open Sans', sans-serif;
  }

.beatName {
    margin-left: 10px;
    margin-top: 15px;
    color: black;
}
.tagStyle {
    margin-left: 20px;
    border: 0.01rem solid;
    padding: 0.1rem;
}
.genreHeader {
    margin-left: 20px;
    color: gray;
}
.genreStyle {
    margin-left: 20px;
    color: white;
    background-color: rgb(0, 98, 204);
}

.bpmHeader {
    margin-left: 20px;
    color: gray;
}

.beatCover {
    object-fit: cover;
    border-radius: 5%;
}

.imageCrop {
    max-width: 100px;
}

@media screen and (max-width: 1024px) {
    .addToCartCartCart {
        width: 51px;
        height: 51px;
        margin-top: 1.4px;
    }
    .beatNameWhite {
        margin-left: 12px;
        margin-top: 34px;
    }
    .beatCoverPhone {
        object-fit: cover;
        border-radius: 5%;
    }
    .beatNamePhone {
        color: white;
        font-size: 90px;
        margin-left: 12px;
    }
    .tagStylePhone {
        font-size: 40px;
        color: white;
        margin-left: 20px;
    }
    .genreHeaderPhone {
        font-size: 50px;
        color: white;
        margin-left: 16px;
    }
    .genreStylePhone {
        font-size: 30px;
        color: white;
        background-color: rgb(0, 98, 204);
        margin-left: 20px;
    }
    .bpmHeaderPhone {
        color: white;
        font-size: 40px;
        margin-left: 16px;
    }
    .bpmPhone {
        font-size: 40px;
        margin-left: 5px;
    }
    .beatContainer {
    margin-top: 10px;
    width: 900px;
    margin-right: auto;
    margin-left: auto;
}
    .beatCover {
    object-fit: cover;
    border-radius: 5%;
}
    .buttonCartBeat {
    height: 90px;
    width: 150px;
    margin-top: 7px;
    background: #ff9500;
    margin-left: -10px;
}
    .beatName {
    margin-left: 15px;
    margin-top: 35px;
    color: black;
}
    .buttonSM {
        margin-right: 0px;
        margin-left: 87px;
        margin-top: 20px;
    }
    .tagStyles {
    margin-left: 7px;
    padding: 0.1rem;
    margin-bottom: 40px;
    margin-top: 19px;
}
    .tagActualStyle {
    font-size: 1.9rem;
    margin-top: 30px;
}
    .beatContainer {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}
    .buttonSM {
        margin-bottom: -200px;
    }
}
@media screen and (min-width: 1024px) {
    .bpmStyle {
        margin-top: 4px;
    }
    .textMoneyStyle {
    }
    .addToCartCartCart {
        width: 25px;
        height: 25px;
        margin-top: 1.5px;
    }
    .beatNameWhite {
        margin-left: 12px;
        margin-top: 12px;
        text-decoration: none;
    }
    .beatContainer {
    margin-top: 10px;
    width: 1024px;
    margin-right: auto;
    margin-left: auto;
}
    .buttonCartBeat {
    height: 50px;
    width: 100px;
    margin-top: 10px;
    background: #ff9500;
}
    .beatName {
    margin-left: 20px;
    margin-top: 6px;
    margin-bottom: 5px;
    color: black;
    font-size: x-large;
}
    .tagStyle {
    margin-left: 21px;
    border: 0.01rem solid;
    padding: 0.1rem;
}
    .tagActualStyle {
    font-size: 1.3rem;
    margin-top: 14px;
    margin-right: 7px;
}
    .buttonSM {
        margin-right: 20px;
        margin-left: 0px;
        margin-top: -5px;
        margin-bottom: -240px;
    }
} 