  * {
    font-family: 'Open Sans', sans-serif;
  }

p
.landing {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -webkit-user-select: none;
    user-select: none;
    margin-top: 100px;
}


@media screen and (min-width: 1024px) {
  .checkboxStyle {
    margin-top: 0px;
  }
    .beatNameCartBeatSD {
      margin-top: 30px;
    }
    .productStyle {
      color: white;
      font-size: large;
      margin-left: 80px;
    }
    .priceStyle {
      color: white;
      font-size: large;
      margin-left: 295px;
    }
    .couponCodeTextAuth {
      font-size: 19px;
      margin-top: 18.5px;
      margin-left: 10px;
    }
  .cartBeatLicenseButton {
    margin-right: 10px;
    margin-left: 13px;
    margin-top: -5px;
    background: #ff9500;
    height: 40px;
    color: black;
  }
  .priceCartBeatStyle {
    margin-right: 15px;
    margin-top: -5px;
    font-size: 25px;
  }
  .cross {
    width: 22px;
    margin-top: -7px;
    margin-right: 40px;
  }
    .payButton {
      background: #ff9500;
      color: black;
      margin: 10px;
      padding: 10px;
      font-weight: 500;
      font-size: 15px;
    }

    .payBitch {
    max-width: 600px;
    margin-top: -40px;
}
    .cartContainer {
    margin-top: 90px;
    margin-bottom: 50px;
    display: grid;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}
    .cartBeat {
    width: 600px;
}
}
  @media only screen and (max-width: 1024px) {
    .couponCodeTextAuth {
      font-size: 38px;
      margin-top: 10px;
      margin-left: 20px;
      margin-bottom: 10px;
    }
    .checkboxStyle {
      margin-top: 0px;
      margin-right: 10px;
    }
    .beatNameCartBeatSD {
      margin-top: 30px;
    }
    .priceCartBeatStyle {
      font-size: 2.5rem;
      margin-top: 13px;
    }
    .cross {
      margin-left: 20px;
      margin-top: 22px;
    }
    .productStyle {
      color: white;
      font-size: xx-large;
      margin-left: 145px;
      margin-right: 340px;
    }
    .priceStyle {
      color: white;
      font-size: xx-large;
    }
    .payButton {
      background: #ff9500;
      color: black;
      margin: 10px;
      padding: 10px;
      font-weight: 500;
      font-size: 15px;
      width: 400px;
      height: 80px;
      margin-bottom: 20px;
    }
    .payButton:hover{
      background: #ff9500;
      color: black;
      margin: 10px;
      padding: 10px;
      font-weight: 500;
      font-size: 15px;
    }
.payBitch {
    margin-top: 100px;
    max-width: 900px;
}
.cartContainer {
    margin-top: 150px;
    display: grid;
    justify-content: center;
}
.cartBeat {
  width: 800px;
  margin-top: 10px;
}
.cartBeatLicenseButton {
  max-width: 210px;
  max-height: 60px;
  background: #ff9500;
  margin-top: 20px;
  color: black;
  font-size: x-large;
  margin-right: 20px;
}
  }