body {
    background-color: #191919;  
  }
  body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #ff9500;
}

  * {
    font-family: 'Open Sans', sans-serif;
  }
  

  @media only screen and (min-width: 2160px) {
  .pikachuUnmasked {
    margin-top: 10%;
  }
    .trackSearch {
  }
}

  .pikachuUnmasked {
    margin-top: 8%;
    margin-left: 8%;
  }


  .searchBar {
    width: 44.8%;
    position: absolute;
    top: 50%;
    left: 46%;
  }
  .hardestProducer {
    color: white;
    position: absolute;
    top: 35%;
    left: 47%;
  }
  

  @media only screen and (max-width: 1024px) {
    .trackSearch {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  .buttonSendOffer {
    background-color: #191919;  
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
  }
    .beatNameCartModel {
      font-size: 60px;
      margin-right: -100px;
      margin-left: -40px;
      margin-top: 20px;
    }
    .whiteCrossWhiteModel {
      width: 60px;
      margin-left: 150px;
      margin-top: -185px;
      margin-bottom: -150px;
    }
    .beatCoverCartModel {
      object-fit: cover;
      border-radius: 5%;
      width: 150px;
      height: 150px;
    }
    .addToCart {
      margin-top: -219px;
      margin-left: -70px;
      margin-right: 10px;
      width: 3.4rem;
    }
    .titleStyle {
      margin-left: -450px;
    }
    .tagsStyle {
      margin-left: 90px;
    }
  .whiteCross {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: 12px;
  }
    .homeContainer {
      margin-top: -400px;
      width: auto;
    }
  .searchBar {
    visibility: hidden;
  }
  .hardestProducer {
    visibility: hidden;
  }
  .homePage{
    visibility: hidden;
  }
  .beatStoreContainer {
    margin-top: 120px;
  }
  .navBAR {
    user-select: none;
    background-color: #191919;  
    width: 100%;
    position: fixed;
    padding-bottom: 2.5rem;
    top: 0%;
    box-shadow: 0 10px 15px 0 rgb(0, 0, 0, 0.05);
  }
    .buttonBrowseAllTracks {
      background: #ff9500;
      text-align: center;
      margin-top: 20px;
      width: 500px;
      height: 100px;
      color: black;
    }
    .buttonBrowseAllTracks:hover {
      background: #ff9500;
      text-align: center;
      margin-top: 20px;
      width: 500px;
      height: 100px;
      color: black;
    }
}

  @media only screen and (max-width: 700px) {
    .whiteCross {
    width: 50px;
    height: 50px;
    }
    .homeContainer {
      margin-top: -600px;
    }
    .buttonBrowseAllTracks {
      background: #ff9500;
      text-align: center;
      margin-top: 20px;
      width: 300px;
      height: 80px;
      color: black;
    }
    .buttonBrowseAllTracks:hover {
      background: #ff9500;
      text-align: center;
      margin-top: 20px;
      width: 300px;
      height: 80px;
      color: black;
    }
    .titleSM {
      padding-left: 60px;
    }
    .tagsSM {
    }
}
  h1{
    color: white;
    font-size: 2em;
    letter-spacing: 2px;
    text-align: center;
  }

  button{
    margin: 0 10px;
    background: transparent;
    border: 0px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    color: #ccc;
    font-size: 1em;
    cursor: pointer;
    flex: 0%;
  }
  .addtocart {
    max-width: 210px;
    margin-top: 100px;
    }

  button:hover{
    color: #fff;
    border-color: #fff;
  }
  
  button:disabled {
    opacity: 0.2;
    cursor: not-allowed;
  }

.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: stretch;
    margin-bottom: -50px;
}

.nextprev {
  margin-top: 30px;
  text-align: center;
}
.aplayerStyle {
  justify-content: center;
}

.containerBar{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 710px;
    height: auto;
}



@media screen and (max-width: 1024px) and (min-width: 700px) {
  .storeContainer {
  }
    /* .buttonBrowseAllTracks {
      background: #ff9500;
      text-align: center;
      margin-top: 20px;
      width: 270px;
      height: 60px;
      color: black;
    }
    .buttonBrowseAllTracks:hover {
      background: #ff9500;
      text-align: center;
      margin-top: 20px;
      width: 270px;
      height: 60px;
      color: black;
    } */
}
@media screen and (min-width: 1024px) {
  .buttonSendOffer {
      background: #ff9500;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
  }
  .beatCoverCartModel {
    height: 50px;
    width: 50px;
    margin-left: -3px;
  }
  .beatNameCartModel {
    margin-left: -15px;
    margin-top: 10px;
    margin-right: -30px;
  }
  .whiteCrossWhiteModel {
    width: 25px;
    margin-top: -230px;
    margin-left: 30px;
    margin-bottom: -220px;
  }

  .whiteCross {
  }
  .titleStyle {
    margin-left: -60px;
  }
  .tagsStyle {
    margin-right: 90px;
  }

  .bpmTag {
    color: white;
    padding-left: 460px;
    padding-right: 50px;
  }
  .tagsSM {
    margin-left: -12px;
  }
  .navBAR {
    user-select: none;
    background-color: gray;
    width: 100%;
    position: fixed;
    padding-bottom: 0.2rem;
    top: 0%;
    box-shadow: 0 10px 10px 0 rgb(0, 0, 0, 0.05);
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }
    .buttonBrowseAllTracks {
      background: #ff9500;
      text-align: center;
      margin-top: 20px;
      width: 200px;
      height: 50px;
      color: black;
    }
    .buttonBrowseAllTracks:hover {
      background: #ff9500;
      text-align: center;
      margin-top: 20px;
      width: 200px;
      height: 50px;
      color: black;
    }
    .trackSearch {
      padding-top: 15px;
      padding-bottom: 15px;
    }
}