  @media only screen and (max-width: 1024px) {
.beatNameMyBeats {
   margin-top: 30px; 
   margin-left: 30px;
}

.btnDownloadMyBeats {
    background: #ff9500;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.downloadLogoMyBeats {
    width: 50px;
    height: 50px;
    margin: auto;
}
  }

  @media only screen and (min-width: 1024px) {
    .beatNameMyBeats{
        margin-top: 20px;
        margin-left: 16px;
    }
.btnDownloadMyBeats {
    background: #ff9500;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.downloadLogoMyBeats {
    width: 35px;
    height: 35px;
    margin: auto;
}
.coverMyBeats {
    margin-left: 120px;
}
  }